@tailwind base;
@tailwind components;
@tailwind utilities;

.category {
    margin: 0.3em;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.no-sb {
    scrollbar-width: none;
}

.mt-auto {
    margin-top: auto;
}

.bucket {
        padding: 10px;
        border-radius: 4px;
        width: 125px;
        height: 78px;
}

.bold * {
    font-weight: bold;
}
