.flex {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-cw {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wrap { flex-wrap: wrap;}

.center {
    align-items: center;
}

.bucket {
        padding: 10px;
        border-radius: 4px;
        width: 125px;
        height: 78px;
        border: 1px solid black;
        margin-right: 10px;
    }

.sidebar-width {
    max-width: 165px;
    min-width: 166px;
}

.wrap-t {
    text-wrap: wrap;
}

.bold * {
    font-weight: bold;
}

.m-5 {
    margin: 5px;
}
